{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div>
            <table class="table">
                <caption class="h3">Recapitulatifs des depenses</caption>
                <thead class="thead-dark">
                <tr><th>Libelle</th><th>Id</th></tr>
                </thead>
                {% for categorieDepense in categorieDepenses if categorieDepenses is not empty %}
                <tbody>
                <tr>
                    <td>{{ categorieDepense.getLibelle() | default("id Null")}}</td>
                    <td>{{ categorieDepense.getId() }}</td>
                </tr>
                {% else %}
                    <tr class="table-warning"><td>Pas de catégories depenses</td></tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>
{% endblock %}
